<div class = "content">
    <button ng-click = "order = 'task'">Order by Task</button>
    <button ng-click = "order = 'duration'">Order by Approx Duration</button>
    <p style = "text-decoration: underline; font-size: 32px; font-weight: bold;" > Uncompleted Tasks: </p>
    <ul id = "task-list">
      <li ng-repeat = "singleTask in tasks | orderBy: order | filter: search" ng-show = "singleTask.available">
        <h3>{{singleTask.task}} - {{singleTask.duration}} hr/s</h3>
        <div class = "remove" ng-click = "removeTask(singleTask)">X</div>
        <div class = "remove" ng-click = "">
          <img src = "content/img/green_tick.png" style = "width: 100%; height: 100%;"/>
        </div>
        <span class = "priority"style = "background: {{singleTask.priorityColour}}">{{singleTask.priority}}</span>
      </li>
    </ul>
    <a href = "" ng-click="removeAll()">Delete all tasks</a>
    <form ng-submit = "addTask()">
      <input type = "text" placeholder = "Add Task" ng-model = "newTask.task" />
      <select ng-model = "newTask.priority" ng-options = "x for x in priorities" required>
        <option value = "" disabled selected>Choose Priority</option>
      </select>
      <input type = "text" placeholder = "Approx Duration" ng-model = "newTask.duration" />
      <input type = "submit" value = "Add new task" />
    </form>
    <p style = "text-decoration: underline; font-size: 32px; font-weight: bold;" > Completed Tasks: </p>
</div>
